* {
    text-align: center;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: block;
/*    width: 60px;*/
}

ul > li {
    display: inline;
}

#footer {
    
}

.body {
    position: relative;
    margin: auto;
    width: 60%;
/*    border:3px solid #73AD21;*/
    padding: 10px;
}

div.img {
    float: left;
    text-align: center;
}

div.img img {
    margin: 5px;
/*    bottom: 5px solid #ffffff;*/
/*    position: absolute;*/
    position: fixed;
    width: 400px;
    height: auto;
    top: 50%;
    bottom: 50%;
    left: 50%;
/*
    margin-top: -70px;
    margin-left: -100px;
*/
    transform: translate(-50%, -50%);
    z-index: -1;
}

body form {
    position: relative;
    margin: 5px;
    margin-right: auto;
    margin-left: auto;
    top: 400px;
/*    bottom: 1px solid #000;*/
}

#gsearchbar:hover {
/*    background-color: black;*/
    border: 1px dotted #999;
    border-radius: 0;
}

#gsearchbar:focus {
    background   : rgba(91, 170, 115, 0.1);
    border-radius: 5px;
    outline      : none;
}

#footer {
    background-color: azure;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

#footer #leftfooter {
    margin: 15px;
    float: left;
}

#footer #rightfooter {
    margin: 15px;
    float: right;
}

#leftfooter ul {
}
